In [1]:
import numpy as np
import pandas as pd
from datetime import datetime
import re
import string
import nltk
from nltk.corpus import stopwords;
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize;
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from nltk import pos_tag
from nltk.util import ngrams
import collections
import spacy
en = spacy.load('en_core_web_sm')

In [33]:

new_data=pd.read_csv("/Users/dhanushkikkisetti/Documents/Research Assistant/extreme right antisemitism _ new.csv")
new_data.head()
new_data=new_data[['Date','Post']]
data=new_data.drop_duplicates()

/var/folders/08/6__rzch12ms6qj1p_4ypnr2m0000gn/T/ipykernel_45211/1103168030.py:1: DtypeWarning: Columns (4,5,6,7,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,99,100,102) have mixed types. Specify dtype option on import or set low_memory=False.
  new_data=pd.read_csv("/Users/dhanushkikkisetti/Documents/Research Assistant/extreme right antisemitism _ new.csv")

In [34]:
data

           Date                                               Post
0      29/12/22  Robber Barons of the Red ShieldThe Rothschild ...
1      18/01/23  Robber Barons of the Red ShieldThe Rothschild ...
2      20/01/23  Page 1  Table of contents :  1. Mayer Amschel ...
3      25/01/23  Page 1  Table of contents :  1. Mayer Amschel ...
4      04/01/23  Page 1  Table of contents :  1. Mayer Amschel ...
...         ...                                                ...
38496  21/02/23  #GeorgeSorosWhy Indiaâ€™s Hindu nationalists a...
38497  21/02/23  IF EVERY THING IS CREATED BY ALL POWERFUL BENE...
38498  21/02/23  Ukraine on Fire - Oliver StoneLearn the actual...
38499  21/02/23  GEORGE SOROS SAYS HES THE ONE THAT DECIDED TO ...
38500  21/02/23  Der Plan des Deep States ist, die Menschheit z...

[36038 rows x 2 columns]

In [ ]:
data['Post'] = data.groupby(['Date'])['Post'].transform(lambda x: ' '.join(x))
data.drop_duplicate